fieldset{
  display: flex;
  flex-direction: column;
  align-items: center;
}

fieldset > legend {
  font-size: 20px;
  font-weight: bold;
}

th{
  border-style: ridge;
  border-color: rgb(233, 117, 9);
  font-weight: 900;
  background-color: rgb(233, 117, 9);
  color: black;
  width: 25%;
}

td{
  border-style: ridge;
  border-color: rgb(233, 117, 9)l;
}


form {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

div {
  padding: 5px;
  display: flex;
  flex-direction: row;
  align-content: space-around;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
}

button {
  margin: auto;
  height: 40px;
  width: 200px;
}

h1 {
  text-align: center;
  color: black;

}

p {
  text-align: left;
}

#botoes {
  display: flex;
  flex-direction: column;
  align-content: space-around;
  align-items: center;
}

#buscapornome{
  margin-right: 5px;
}

#buscarpordatavencimento{
  margin-right: 5px;
}